<h1>Chats for <%= @patient.first_name %></h1>

<ul>
  <% @chats.each do |chat| %>
    <li>
      <%= link_to chat.title, patient_chats_path(@patient) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Chat", new_patient_chat_path(@patient) %> |
<%= link_to "Back to Patients", patients_path %>
