<%# turbo_frame_tag "ai_chats" do %>
<div class="chats-page">
  <h1 class="chats-title">Chats for <%= @patient.first_name %></h1>

  <ul class="chats-list">
    <% @chats.each do |chat| %>
     
    <% end %>
  </ul>

  <div class="chats-navigation">
    <%= link_to "New Chat", new_patient_chat_path(@patient), class: "btn-primary" %>
    <%= link_to "Back to Patients", patients_path, class: "btn-secondary" %>
  </div>
</div>

<%#end%>
