<div class="chat-new-page">
  <div class="chat-header">
    <h1>New Chat for <%#= @patient.first_name %></h1>
  </div>

  <div class="chat-form-container">
    <%= simple_form_for([@patient, @chat], html: { class: "chat-form" }) do |f| %>
      
      
      <div class="chat-form-actions">
        <%= link_to "Back", patient_chats_path(@patient), class: "btn-back-chat" %>
        <%= f.submit "Create Chat", class: "btn-create-chat" %>
      </div>
    <% end %>
  </div>
</div>
